h1{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: #B5A0C4;

}

p{
  font-family: 'Roboto', sans-serif;
  color: #B5A0C4;
}

label{
  font-family: 'Roboto', sans-serif;
  color: #B5A0C4;
}

input[type=checkbox]{
	margin: 10px 10px;
	width: 15px;
	height: 15px;
}

.texto{
  text-align: center;
  background-color: #3C3640;
  padding: 5px 5px;
  margin: 0vw 15vw;
  border-radius: 10px 10px;
  }

body{
background-color: #2E2932;
}

input[type=text]{
  margin: 2px 5px;
  padding: 5px 5px;
  font-family: 'Roboto', sans-serif;
  background: rgba(255,255,255,0.1);
  border: none;
  border-bottom: solid rgba(0,0,0,255);
  width: 15vw;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.12);
  transition: 0.6s ;

}

input[type=text]::placeholder{
	color: #DCC5EA;
}

input[type=text]:hover{
  border-bottom: 3px solid rgba(240, 77, 77, 1);
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  width: 25vw;
  padding: 3px 5px;
  box-shadow:0 0 18px 8px rgba(0,0,0,0.24);
}

button{
  font-family: 'Roboto', sans-serif;
  border:none;
  background-color: #DCC5EA;
  padding: 10px 10px;
  border-radius: 5px 5px;
  transition: 0.4s ease-in-out;
  margin: 10px 5px;
}

button:hover{
  transform: scaleX(1.2) scaleY(1.2);
  margin: 15px 10px;
  background-color: #B050EA;
}



