<head>
  <title>Modificador de frases aleatorias</title>
  <link rel="stylesheet" href="css/gerar.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
  <h1>Modificador de frases aleatorias do bot </h1>

  <div style="text-align: center;">
    <br>
    <input type="text" placeholder="Inicio" id="inicio">
    <input type="text" placeholder="Meio" id="meio">
    <input type="text" placeholder="Fim" id="fim">
	<br>
	<input type="checkbox" id="complemento">
	<label for="complemento">Gerar frases secundarias</label>
	<br>
    <button type="button" onclick="enviar();"><b>Enviar para o bot</b></button>
  </div>

  <div class="texto">


    <p>Nesse site, você pode escolher uma parte da frase para modificar e deixar o bot escolher o resto</p>

    <p>Você pode modificar o Inicio, meio e fim da frase</p>

    <p>ou seja, se voce modificar apenas o inicio, o bot irá criar um meio e fim aleatorio<br>se voce modificar o inicio e o meio, o bot irá gerar um final aleatorio<br>se voce modificar o inicio, meio e fim, o bot não irá interferir na frase</p>
                                                                                            <p>Ao escolher gerar frases secundarias, o bot irá gerar uma frase após a sua.</p>
  </div>


  <script>
    function enviar(){
      let a = document.getElementById("inicio").value;
      let b = document.getElementById("meio").value;
      let c = document.getElementById("fim").value;
	  let complemento = 2;
	  if(document.getElementById('complemento').checked){
		  complemento = 1;
	  }
	

      window.open("https://lucaspb710.gitlab.io/BotFrases/?a="+a+"&b="+b+"&c="+c+"&comp="+complemento);
    }
  </script>
</body>
