<head>
    <script src="./jquery-3.6.0.min.js"></script>
	<script src="https://www.gstatic.com/charts/loader.js"></script>

	<script>

    $(document).ready(function(){

		var keywords = ["inspiring", "colorfull", "space","picnic","birds","urban","rain","sad","happy","nature","animal", "lofi","vulkan","thunder","flower","stars","cat","regret","letter","ocean","brasil", "action", "movie", "adventure", "cars", "bicycle","beach", "person saying", "book", "dance", "rock", "water", "helicopter", "bench", "mario kart", "number", "chair"];
		var nmr = Math.floor((Math.random() * keywords.length));
		var keyword = keywords[nmr];

		fetch(`https://picsum.photos/800`).then((response) => {
			let item = document.createElement('div');
			item.classList.add('item');
			item.innerHTML = `<img class="beach-image background-image" src="${response.url}" alt="beach image" id='imagem'/>`
			document.body.appendChild(item);
			const params = new URLSearchParams(document.location.search);
			const img_query = params.get("img");

			if (img_query != null && img_query != "" && img_query != " ")
				document.getElementById("imagem").src=img_query

	  })
	  


    });
	//------------------------------------------------------------------------------------
	//LISTAS
	// Aqui tu pode adicionar coisas ao programa conforme está escrito no readme
	// como saporra ta desorganizada pra caralho, darei uma breve explicação aqui sobre como fazer isso
	//ok, caso tu nunca tenha feito nada com listas desse tipo e quer contribuir mesmo assim, é so seguir os proximos passos
		
	// 1- vá ao final da lista (tu pode fazer isso clicando em f1, f2 ou f3 e apertando a tecla "end" no seu teclado, isso te levará para o final da lista q voce escolheu)
	// o final da lista vai ser mais ou menos tipo "frase aleatoria"];
		
	// 2- adicionar uma virgula apos o ultimo "
	// nesse caso, ficaria "frase aleatoria",];
		
	// 3 - adicionar a frase que voce deseja entre aspas
	// nesse caso, ficaria "frase aleatoria","comi tijolo, por favor me ajude"];
		
	// 4 - clicar no botão verde "Commit changes" e dps fazer um pull request e ser feliz, eu acho
	//------------------------------------------------------------------------------------
	var f1 = ["não ","sempre ","nunca ", "sim, ", "como diriam os sabios: ", "como diria caue: ","para ter sucesso, ","ao acelerar, ","com um sorriso no rosto ", "pense bem antes que voce ","talvez voce ", "eu prefiro que voce ", "concordo, porem ", "para ter mais sorte na vida ", "boa noite, ", "bom dia, ", "se voce estiver em uma situação de emergencia ","ao respirar ","imagine que voce ", "não fique para baixo, ","acima de tudo ","Hey Rockers, ","Se a vida estiver ruim ","Se voce se sentir triste, não se preocupe, ","quando voce estiver solitario ","as vezes, a unica coisa que eu preciso é que voce ", "as vezes ", "para facilitar a sua vida ", "para concluir meus estudos preciso que voce ", "imagine uma nova historia onde voce ", "enquanto conversamos aproveite e ","se todas as mentiras falam sobre o cotidiano, ","ao sentir que tudo esta indo a baixo, ","se tudo parecer um desastre, ","ao comparecer ao medico ", "preste atenção ao transito, ", "para que o feriado ocorra, ", "se o dia estiver nublado e chuvoso, não se desespere, ","se voce cometeu um crime, não se preocupe ","a policia esta na sua casa? ","está em duvida em relação a um assunto serio? não se preocupe, ","se voce esta feliz ", "siga o caminho do seu coração, ", "apos uma otima refeição, ", "o mundo inteiro esta a cair, mas preciso que voce ", "não se preocupe, tudo dará certo, desde que voce ", "o importante não é vencer todos os dias, ","enquanto houver vontade de lutar ", "o medo de perder tira a vontade de que voce ", "escolher o seu tempo é o mesmo que: ", "para ganhar aquilo que vale a pena ter, pode ser necessario que voce ", "Determinação, coragem e autoconfiança são fatores decisivos para o sucesso, ", "lute com determinação, abrace a vida com paixão, perca com classe e ", "para ter um negócio de sucesso, ", "não seja o objeto cognoscente, ", "ao anunciar um produto na olx, ", "é melhor que voce conquiste a si mesmo, ao inves de que voce ", "ao se demitir, ", "em uma entrevista de emprego ", "se o dia estiver otimo ", "no seu aniversario, ", "na pascoa, ", "ao estar emocionalmente desequilibrado, ", "sempre que você pensar que o amor está fora de alcance, ", "como diria carlos, ", "cuidado ao atravessar a rua, pode ser que voce ", "todo caminho leva à tristeza, logo, ", "todo caminho leva à felicidade, logo, ", "se voce não consegue ver nenhuma escapatoria ", "toda grande conquista começa com a simples decisão de tentar, ", "não fique na espectativa que tudo dará certo, ", "ao levar um choque ", "em hipotese alguma ", "ao perceber que não ha escapatoria, ", "enquanto a comida está no forno, ", "rapido! preciso que voce ", "para que o indice de desenvolvimento humano aumente, ", "é pau, é pedra, é o fim do caminho, ", "Realidades diferentes exigem olhares diferentes. ", "tente mover o mundo, ", "ao ver uma boa pessoa, tente imita-la, ", "para ver muitas coisas, é necessario que voce ", "não ser descoberto na mentira, é o mesmo que dizer a verdade. ", "O ignorante afirma, o sábio duvida, o sensato reflete. ", "se o palindromo está a solta ", "ao fazer parte do universo pluricelular, preciso que voce ", "nunca é tarde para que voce ", "a vida passa rapidamente aos olhos dos tolos... ", "o mundo sempre está nas mãos dos elegantes, ", "a exaustão está a solta, todos estão fracos, ", "o terror flutua no ar, ", "aqueles que possuem o conhecimento não querem dividi-lo, ", "a utilização de sacolas plasticas está crescendo, preciso que voce ", "a grama está alta de mais, por favor, ", "paradigmas precisam ser quebrados, ", "os dogmas não precisam permanecer, ", "estava pensando em trocar a lampada, ", "o choro dos fracos ecoa na sua mente, ", "em uma aula sobre platao, ", "o quadro está secando, por favor, ", "ao afundar um barco ", "ao compartilhar suas ideias inatas ", "ao entrar no metrô, ", "se apresente de maneira elegante a todos, ", "O sucesso pode vir de varias maneiras, desse modo, ", "ta falando besteira de votar em bolsonaro... ", "ele não gosta de mulher, de sapatão nem de viado, por isso, ", "sim, eu uso LSD, ", "o sucesso dos bons não depende da fama. ", "a bondade é intrisseca a todos, ", "a fabricação de pamonha está diminuindo, por favor, ", "a multidão está agitada ", "o governo esta prestes a cair, ","sinal vermelho é o cacete, ", "o conhecimento de si modifica o conhecido, ", "ao entrar no avião, ", "ah, se a vida fosse perfeita... por favor, ", "lembre-se dos pequenos prazeres da vida ao longo do tempo", "youtube poop", "vinicius 13 ", "a sua preocupação comove a todos, porem, ", "eu ja te disse, ", "por que será que voce tem que ", "Tudo que é necessário para que um sonho seja realizado é que voce ", "Imagine uma nova história para sua vida e ", "Não espere por uma crise para descobrir o que é importante em sua vida, ", "quantos vivem toda a vida sem descobrir o que sabem e amam... ", "É bem dificil descobrir o que gera a felicidade, ", "O sábio pode descobrir o mundo sem transpor a sua porta, ", "Triste epoca! "];
	var f2 = ["brinque com ", "jogue alguem no ", "leve seu amigo para ", "prometa que comprará um ", "coma feijão no ", "KALSKAKSADLKASK ", "tenha cuidado com ", "tenha atenção ao fazer um ", "construa um ", "coma ", "ligue para ", "visite um ", "faça um ", "quebre um ", "beba um ", "retorne ao ", "converse com ", "responda para o ", "diga não a ", "recuse frutas de ", "reutilize ", "passeie com ", "volte para ", "elimine ", "vista um ","recuse um ", "conte uma piada a ","se transforme em ", "cante com um ", "empreste um ", "escreva sobre ", "pule em cima de ", "faça transações comerciais com ", "coma um ", "dance com ", "pise em cima de ", "ria de ", "beba ", "enxugue ", "faça prova de ", "as vezes as dificuldades da vida são apenas culpa de ", "vista um ", "coloque um ","seja ", "considere ", "faça bullying com ","aceite ","forneça um ", "calcule ", "lembre-se, as vezes a razão prevalece o ","aceite, acima de tudo, ", "entregue o lanche em ", "faça comida para ", "discurse sobre o parnasianismo utopico com um ", "aprenda sobre ", "no jantar de natal, discuta sobre ", "retifique ", "a montanha russa não é tão divertida quanto ", "tome agua com ","discuta sobre a independencia da hungria com ","peça perdão por todos os seus crimes a ", "conquiste ", "limpe ", "toque ", "construa ", "peça, com cuidado, um ", "peça um holofote a ","a solidão depende apenas de ", "bata ", "pule de paraquedas com ", "forme uma banda com ","esqueça de ", "priorize o culto a ", "cultive um belo pé de manga com ", "tropece em ", "odeie ", "mumifique ", "aperte ", "use tecnicas de terraceamento em ", "passe ceramica em ", "jogue cola em ", "passe cola para ", "derrube o ", "extermine ", "impeça que a seguinte especie entre em extinção: ", "traduza a lingua de ", "ajude ", "colabore com ", "chame a seguinte pessoa para jantar: ", "compre um pão de macaxeira para ", "dificulte as relações comerciais de ", "conquiste o coração de ", "se lembre que a unica coisa que importa é ", "creia em ", "sucesso nada tem a ver com sorte, mas sim com ", "ame ao proximo como voce ama ", "para obter êxito no mundo temos de parecer com ", "você tem que acordar cada manhã com determinação se você pretende ir para a cama com ", "lute com garra para conseguir mudar o atual estado de ", "termine de uma vez por todas a sociedade baseada em ", "não fraqueje diante de ", "tire uma foto com ", "passe 3 horas discutindo com ", "coma queijo com ", "ventile ", "dê aulas de educação financeira para ", "olhe atenciosamente para ", "observe ", "estude ", "cumprimente ", "pixe ", "faça uma tatuagem em  ", "saia para o cinema com ", "sempre pouse em ", "nunca perceba um ", "assista todas as novelas com ", "fabrique um fogão com ", "leia um livro que trata sobre ", "se divirta com ", "não machuque os sentimentos de ", "solte ", "corra para ", "compre  ", "derrube um ", "colonize ", "revolucione um ", "mude as ideias inatas de ", "pergunte se a pessoa a seguir está afim: ", "frite ", "tente conquistar o coração de ", "deixe de ter preconceito com ", "puxe o saco de ", " irrite ", "mostre que todos os caminhos levam ao mesmo resultado: ", "explique para sua mãe que o seu futuro depende de ", "convença seus pais de que o seu trabalho sera ser um ", "chame a pessoa que voce gosta para um ", "aprenda a falar a lingua do coração para conquistar ", "nunca dê atenção a ", "em casos de incendio, se proteja com um ", "envelheça um ", "se jogue com tudo, como se sua vida dependesse disso, em cima de ", "tenha filhos com ", "nomeie ", "julgue profundamente ", "não perdoe absolutamente nada feito por ", "embale ", "frutifique ", "venere ", "conheça tudo sobre ", "estude 7 horas por dia sobre ", "não se preocupe com ", "lembre-se que hoje é um dia lindo e abrace ", "respire com calma e cozinhe um ", "aponte ", "ofereça um copo d'agua para ", "se aproxime de ", "governe em harmonia com ", "corrompa ", "lute com garra contra ", "não seja apenas um ", "pinte um ", "construa um barco com ajuda de ", "conserte um ", "ensine matematica basica a ", "tenha empatia com ", "persiga ", "faça o enem junto de ", "salve o mundo com ", "compre um violão de ", "jogue engrenagem em ", "crie uma fabula sobre ", "pesquise muito sobre ", "passe o resto da sua vida estudando sobre ", "dedique todo seu tempo a ", "busque comer cimento com ", "tenha empatia com " , "roube todas as vagas de ", "acabe com a concorrencia relacionada a ", "lembre-se de um dia ensolarado onde todos gostavam de ", "compre uma pamonha para ", "se a vida estiver dificil e dolorosa, lembre-se de ", "lembre-se que ainda existem pessoas que confiam em ", "tenha orgulho de ter criado ", "simplesmente odeie ", "tente esquecer de ", "lembre-se que voce não merece a seguinte pessoa na sua vida: ", "liberte ", "passe a perna em ", "faça com que a seguinte pessoa te odeie ", "destrua bolsonaro com a ajuda de ", "pergunte a nota do enem de ", "ignore ", "discuta sobre a atual situação de ", "entenda, voce nunca será igual a ", "desista de ", "desista de tentar ser como ", "passe o dia inteiro pensando em ", "fale de acordo com os seus atos relacionados a ", "busque a resposta contida em ", "retire a estupidez de ", "não repita os mesmos erros que ", "tenha garra para mover um ", "lembre-se que palindromos não se movem sozinhos, seja ", "entre na casa mais proxima e grite com ", "pense, em voz alta, sobre como se livrar de ", "reze por ", "lembre-se que a escola depende apenas de ", "encontre a felicidade em ", "ame a si mesmo, pois assim poderá vender suco de maracujá para ", "lembre-se que a busca pela felicidade não termina em ", "esqueça que o governo só é ruim se for governado por ", "venda tres litros de suco de tomate por dia para ", "modifique a forma de agir em sociedade de ", "não dependa completamente de ", "reestruture ", "modifique e melhore os pensamentos de ", "interrompa o professor e lembre-o que amanhã é dia de ", "pule, tres vezes, em cima do carro com ", "entre em um presidio e dance com ", "abra um livro em uma pagina que te lembre de ", "compre um dvd com ", "crie um filme sobre ", "roube a mochila de ", "relembre a abertura de ", "vá a um show de mamonas assassinas com ", "lo-fi hiphop ", "asfalte a rua de ", "aponte todos os defeitos de ", "invada a casa de ", "ao invadir sua casa, destrua ", "esqueça, de proposito, as chaves da sua casa, movimente ", "passe maionese em ", "mostre que todos estavam errados em relação a ", "seja mais humilde em relação a ", "vote em haddad, haddad e ", "use o incrivel poder da violencia em ", "louvado seja ", "observe os comportamentos de ", "analise os efeitos nas relações sociais de ", "suba no pé de maracujá com ", "assista seu desenho preferido com ", "derrube o governo com a ajuda de ", "troque o nome de ", "sequestre ", "roube um banco com a ajuda de ", "fortaleça o sistema capitalista destruindo ", "plante laranjas com ", "destrua todas as propriedades de ", "tome posse da fabrica de ", "sinta os sentimentos de " , "balance ", "mostre que você é o unico capaz de morder ", "defina ", "teste ", "mostre que a igualdade de todos so pode vir por meio de ", "fale sobre campos eletricos com ", "explique quimica organica para ", "lembre-se que o fim do mundo será causado por ", "leia um livro escrito por ", "lembre-se dos bons momentos que voce teve com ", "se lembre das suas aventuras com ", "construa uma bela amizade com ", "se lembre daquele jantar com ", "discuta seriamente sobre ", "escreva uma redaço sobre ", "rodeie ", "entre em guerra contra ", "acampe com ", "enfie uma tora de madeira no cu de ", "lembre-se que pessimismo te leva a ", "acredite, voce tem mais sorte do que ", "encontre alegria na alegria de ", "desintegre um atomo no lugar de desintegrar ", "não tente ser bem sucedido, tente ser "];
	var f3 = ["thiago","bola","carro","vulcão","mesa redonda", "sobrancelha", "jaca", "navio", "jumento", "medico", "restaurante", "Burger King", "capitalista", "capitalismo", "heliponto", "caue","uber","predio","martelo", "estacionamento", "avião de tripla helice", "iPad","celular","jantar romantico", "cachorro", "calice", "paulinho", "pedro", "tarcisio", "crise existencial", "jujuba","pato", "Juan", "socialismo", "patinete", "bolsonaro", "Trombas", "estojo","microondas","macaco", "mamaco", "xavier", "eu lirico", "voce", "joelho", "stalin", "cavalo", "controle remoto", "poliester", "elastico", "tenis", "lider oligarquico", "rei ornamental", "rei pomposo", "rei", "salvador dali", "Vanderlei", "bicicleta aro 15", "estelionatario de bens materiais", "governador da groelandia", "vice consul de honduras", "auxiliar de fita crepe", "lombada eletronica", "quebra molas", "semaforo", "cotovelo", "butijão de gas", "fogão de 8 bocas","brasil","arabia","nova guine","posto de gasolina", "rio jordão", "mato grosso", "mesa de 5 pernas", "embalagens plasticas", "lixeira", "frutos", "lisosomos", "helice", "ponte suspensa", "função quadratica", "panela de pressão", "frigideira", "trator", "marcos", "carro", "terra", "planeta", "terra plana", "marte", "foguete", "teclado", "violão", "musico", "guitarrista", "baterista", "vocalista dos beatles", "revolução baljeet", "luiz", "demiurgo universal", "aristoteles", "videogame", "televisão", "volei de praia", "campeonato de badminton", "retorno de ciclovia", "descida para o abismo", "viaduto", "aeroporto", "passaporte", "ventilador", "alpinante", "bohr", "platao", "movimentos exotermicos", "regra de 3", "multiplicação avançada", "colar de perolas", "a perua", "parede", "Carlos Augusto", "August Comte", "Platão", "Ventilador arno", "Pneu de carro", "galão de gasolina", "motocicleta", "guidon", "garçon", "pena", "violão", "a simplicidade da vida no campo", "o amor de dois jovens perdidos no teto", "Fernando procurando seu tenis", "a organização que claudio tem em sua cama", "o viinculo amigavel entre josé e paulo", "o estreito laço de amizade de duas pessoas", "rabo de cachorro", "turbina de avião", "o cu de curioso", "informacionista", "recepcionista", "telefonista", "placa de taxi", "taxonomia avançada", "caverna de platão", "jogador de lol", "criador do facebook", "garganta", "feijao", "quadro branco","twitter","ventilador","seu dedo indicador da mão esquerda", "Renan", "Omar", "cpi", "Lula Bombado", "professor de matematica", "entregador dos correios", "televisão 14 polegadas", "elastico", "quimica organica", "relações de interdependencia", "alfabeto", "redes sociais", "algum pais da america central", "Bahrein", "costa rica", "pato", "Jogos olimpicos", "fantasia religiosa", "regra do octeto", "atual presidente da bolivia", "armenia", "site de livros pirata", "centro de atendimento a pessoas com problemas em quimica", "banheiro", "riqueza estrutural", "Vanessa", "periodo paleolitico", "traficante de figurinha", "marcos rogerio", "Joana", "homem", "animais pluricelulares", "parede inclinada", "a montanha", "escritor famoso", "untitled", "minhoca", "pernilongo", "joaninha", "o homem de poucas palavras", "John Alfred", "player Tauz", "rap do minato", "Ruffles", "liquidificador", "nova ordem mundial", "copo de star wars", "Adam Smith", "movimentos exotericos", "Alex in his new way of life", "caneta vermelha", "apagador de quadro", "a certidão de nascimento de um pinguim irlandês", "a decima nona palavra da lingua portugesa", "a fronteira entre equador e panama", "aquilo que mais te faz feliz", "a sua comida preferida", "a pizzaria mais elegante", "gorila", "Simon", "clavicula", "Deus", "mico leão dourado", "hacker do app de remedio", "Freud", "Pfizer", "Santana de parnaiba", "haddad", "solo de guitarra de 20 minutos", "o seu estilo musical preferido", "sua loja preferida", "sua roupa preferida", "caneta de Claudio", "pinguin de patins", "ratinho", "venom extreme", "Rezendeevil", "drauzio varela", "xuxinha rosa", "garrafa termica", "coelho na cartola", "tapete de cartas", "identidade de um pombo feliz", "rap do minecraft", "largados e pelados", "Minecraft: a serie", "Animal Crossing: New Leaf", "brechó", "corda de violão", "violão de 7 cordas", "helice de cadeira", "https", "perna", "femur", "unha", "fone de ouvido", "vidro fragil", "ervas medicinais", "um pedaço de marte", "os neuronios que faltam em bolsonaro", "o bigode de stalin", "o seu casaco mais feio", "lampada", "van dos correios", "homem de valor", "estupidez humana", "eduardo", "monica", "atomo", "caneta bic", "fato social"];
	var n1 = Math.floor((Math.random() * f1.length)  );
	var n2 = Math.floor((Math.random() * f2.length)  );
	var n3 = Math.floor((Math.random() * f3.length)  );

	var possibilidade1 = Math.floor((Math.random()*2));
	
	var p1 = "";
		
	if(possibilidade1 == 0)
		p1 = f1[n1];
	
	var p2 = f2[n2];
	var p3 = f3[n3];

	var complemento = "2";
	const params = new URLSearchParams(document.location.search);
	const param1 = params.get("a");
	const param2 = params.get("b");
	const param3 = params.get("c");
	const img_query = params.get("img");
	complemento = params.get("comp");



	/* coiso apenas para ver erros e essas pora
	console.log(param1);
	console.log(param2);
	console.log(param3);
	*/



	if(param1 != null && param1 != "" && param1 != " ")
		p1 = param1+" ";
	if(param2 != null && param2 != "" && param2 != " ")
		p2 = param2+" ";
	if(param3 != null && param3 != "" && param3 != " ")
		p3 = param3;
	
	if(complemento != "2")
		complemento = "1";

	var pos = Math.floor((Math.random()*3));
	console.log(pos);
	var is_conect = false

	if (pos == 1){
		var str = p1+p2+p3;
		var conects_ = [' e ', ' de ', ' com ', ' junto de ', ' em '];
		var c_ = Math.floor((Math.random()*conects_.length));
		var conect_ = conects_[c_];
		str+=conect_+f3[Math.floor(Math.random() * f3.length)];
		is_conect = true;
	}
	
	pos = Math.floor((Math.random()*3));

	if(pos == 1 || pos == 0 || complemento != "1"){

		if (!is_conect)
			var str = p1+p2+p3;

	}
	else if(pos == 2 && complemento == "1"){
		var conects = [' e ', ', porem, ', ', entretanto, ',' e acima de tudo ', ', desse modo, ', ', logo, ', ' e lembre-se: ', ', nesse caso, ' ];
		var c = Math.floor((Math.random() * conects.length));
		var conect = conects[c];

		var n2 = Math.floor((Math.random() * f2.length)  );
		var n3 = Math.floor((Math.random() * f3.length)  );
		if(!is_conect)
			str = p1+p2+p3;
		p2 = f2[n2];
		p3 = f3[n3];
		str += conect+p2+p3;
		
	}


	</script>
	<style>
		.centered {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-size:6vw;
			color: white;
		    text-shadow: 6px 4px #000000;
		}
		.background-image{
			position: center;
			width:100%;
			height: 100%;
		}
		body{
		  background-repeat: no-repeat;
		  background-position: center;
		  background-size:100% 100%;
		}
		@font-face{
			font-family: lel;
			src: url('akaya.ttf');
		}
		@font-face{
			font-family: great;
			src: url('pangolin.ttf');
		}


	</style>
</head>
<body>

  <div class="centered" id="texto">Centered</div>
	<script>

	document.getElementById("texto").innerHTML = str;
	var texto = document.getElementById('texto');

	var font = Math.floor(Math.random() * 3);
	var dec = Math.floor(Math.random()*2);
	if(dec == 0){
		var r = Math.floor(Math.random()*255).toString(16);
		var g = Math.floor(Math.random()*255).toString(16);
		var b = Math.floor(Math.random()*255).toString(16);
		texto.style.color = "#"+r+g+b;
		if (str.length >= 70){
			texto.style.fontSize = 50;
		}
	}
	if(font == 0)
		texto.style.fontFamily = "great";
	else if(font == 1)
		texto.style.fontFamily = "lel";
	else if(font == 2)
		texto.style.fontFamily = "sans-serif";
	</script>
</body>
