 <head>
  <title>Gerador de frases</title>

  <link rel="stylesheet" href="css/info.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script>
    function sobre(){
      var text = document.getElementById("sobre");
      if (text.style.display === "none") {
      text.style.display = "block";
    } else {
      text.style.display = "none";
    }
    }
  </script>
</head>

<body>
  <div style="text-align: center; margin: 0rem 4rem">
    <h3>Bot Gerador de frases aleatorias</h3>

    <!-- botao do sobre -->
    <button onclick="window.location.href='index.html'" class="menu" >
    Gerar uma frase aleatoria
    </button><br>
    <button onclick="window.location.href='gerar.html'" class="menu">
    Gerar uma frase aleatoria customizada
    </button><br>
    <button onclick="window.location.href='https://app.suggestionox.com/r/NID2yh'" class="menu">
    Sugerir uma nova frase
    </button>
    <br>
    <button id="sobre_btn" onclick="sobre()" class="sobre_btn">Sobre </button>
    <p id="sobre" style="display: none" class="sobre">
      Esse é um bot que gera frases aleatorias baseadas em frases sugeridas por varias pessoas. O bot pega as partes das frases, mistura e junta elas, gerando uma frase nova (muitas vezes sem sentido). O bot ainda está sendo desenvolvido e melhorado com o tempo, porem aceitamos sugestões de frases.
    </p>

      <div class="noticias">
        <h4>
          Noticias:
        </h4>
        <div class="noticia">
          <h4>Introdução</h4>
          <p>Essa será uma parte do site onde serão explicadas e anunciadas mudanças ao bot.</p>
          <p>Tambem serão anunciadas ideias para o bot e contribuições importantes feitas ao projeto</p>
          <p><i>04/07/2021</i></p>
        </div>
        <div class="noticia">
          <h4>Mudança nas cores</h4>
          <p>Cores da página <a href="./gerar.html">gerar</a> foram mudadas para combinar com esta página.</p>
          <p><i>16/07/2021</i></p>
        </div>

        <div class="noticia">
          <h4>Inicio desse site</h4>
          <p>Essa página tornou-se pública hoje visando organizar melhor as diferentes páginas que existem sobre o bot em apenas um lugar, além de tornar mais acessível a visualização de mudanças feitas em cada página e ao bot.<br>Essa página ainda não está perfeita, muitas coisas precisam ser melhoradas nela e no bot, você pode contribuir no <a href="https://gitlab.com/LucasPB710/BotFrases"> nosso Gitlab</a>, o site é feito apenas em html e uma parte em javascript.</p>
            <p><i>04/07/2021</i></p>
        </div>

      </div>
  </div>

</body>
